<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/imperial.png') }}">
    <title>Imperial Cworn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/luxury.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/second_section_blw.css') }}">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
                
</head>
<body>
    <header class="header">
        <div class="container">
            
            <div class="row align-items-center justify-content-between">
                <div class="logo">
                    <h1 style="color: #FEA116; font-size: 43px;">Imperial crown</h1>
                </div>
                <button class="navbar-toggler_1" id="navbar-toggler_1">
                    &#9776; <!-- This is the hamburger icon -->
                </button>
                </label>
                   <nav id="navbar-menu_1" class="navbar-nav_1">
                        <ul>
                            <li class="navbar-items"><a href="#"><span style="color:#FEA116;">Home</span></a></li>
                            <li class="navbar-items"><a href="#">About</a></li>
                            <li class="navbar-items"><a href="#">Services</a></li>
                            <li class="navbar-items"><a href="rooms.html">Rooms</a></li>
                            <li class="navbar-items dropdown"><a href="#" class="dropbtn">Pages &#9662</a>
                                <div class="dropdown-content">
                                    <a href="#">Booking</a>
                                    <a href="#">Our Team</a>
                                    <a href="#">Testimonial</a>
                                </div>
                                
                            </li>
                            <li class="navbar-items"><a href="#">Contact</a></li>
                        
                        </ul>
 
                    </nav> 
            </div>
        </div>
    </header>
<div class="carousel_wrapper">
    <div class="carousel">
        <!-- Slide 1 -->
        <div class="carousel-slide active" style="background-image: url({{ url_for('static', filename='images/wallpaperflare.com_wallpaper.jpg') }});">
            <div class="carousel-caption">
                <h3>LUXURY LIVING</h3>
                <h1>Discover A Brand Luxurious Hotel</h1>
                <div class="carousel-buttons">
                    <a href="{{ url_for('rooms') }}" class="btn btn-orange">OUR ROOMS</a>
                    <a href="{{ url_for('booking') }}" class="btn btn-light">BOOK A ROOM</a>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-slide" style="background-image: url({{ url_for('static', filename='images/img-1.jpg') }});">
            <div class="carousel-caption">
                <h3>LUXURY EXPERIENCE</h3>
                <h1>Welcome To The Best Hotel Experience</h1>
                <div class="carousel-buttons">
                    <a href="{{ url_for('rooms') }}" class="btn btn-orange">OUR ROOMS</a>
                    <a href="{{ url_for('booking') }}" class="btn btn-light">BOOK A ROOM</a>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
    <div class="carousel-slide" style="background-image: url({{ url_for('static', filename='images/img-2.jpg') }});">
            <div class="carousel-caption">
                <h3>RELAXATION & COMFORT</h3>
                <h1>Your Dream Stay Awaits</h1>
                <div class="carousel-buttons">
                    <a href="{{ url_for('rooms') }}" class="btn btn-orange">OUR ROOMS</a>
                    <a href="{{ url_for('booking') }}" class="btn btn-light">BOOK A ROOM</a>
                </div>
            </div>
        </div>
      
        <!-- Carousel Navigation -->
        <a class="carousel-prev" onclick="moveSlide(-1)">&#10094;</a>
        <a class="carousel-next" onclick="moveSlide(1)">&#10095;</a>
      
    </div>
    <form action="" method="post">
        <div class="checks">
            <input type="date" name="check_out" placeholder="Check Out" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateInput" class="check_out">
            <input type="date" name="check_in" placeholder="Check in" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateInput" class="check_in">
            <select name="adult" class="no_adult">
                <option name="adult" id="adult">Adult</option>
                <option name="adult1" id="adult1">Adult 1</option>
                <option name="adult2" id="adult2">Adult 2</option>
                <option name="adult3" id="adult3">Adult 3</option>
            </select>
            <select name="child" class="no_child">
                <option name="child" id="child">Child</option>
                <option name="child1" id="child1">Child 1</option>
                <option name="child2" id="child2">Child 2</option>
                <option name="child3" id="child3">Child 3</option>
            </select>
          <button type="submit" class="submit">SUBMIT</button>
        </div>
    </form>
    

</div>
<section class="about">
    <div class="first_div" >
        <p style="margin: 0px;padding: 0px;"><span style="color: #FEA116; font-weight: bolder;">About Us </span></p>
    <h3  class="imp_crown">
        Welcome to <span style="color: #FEA116;padding-bottom: 0px;;">Imperial Crown</span>
    </h3>
    <p style="color: #666565;">Experience luxury and comfort like never before at our hotel - your perfect escape awaits.<br>
        Indulge in the finest hospitality and world-class amenities at our luxury retreat.<br>
        Where every moment is designed to offer you a memorable and serene getaway
    </p>
    <div class="parent_info">
        <div class="outer_shell">
            <div class="info">
                <img src="{{ url_for('static', filename='icons/hotel-svgrepo-com (1).svg') }}" >
                <p style="font-weight: bolder; font-size: 30px; margin-top: 0px; margin-top: 5px;margin-bottom: 0px;">1234</p>
                <p style="color:#666565 ; margin-top: 0px; margin-top: 5px;">Rooms</p>
            </div>
        </div>
        <div class="outer_shell">
            <div class="info">
                <img src="{{ url_for('static', filename='icons/hotel-staff-svgrepo-com.svg') }}" style="margin-top: 4px;">
                <p style="font-weight: bolder; font-size: 30px; margin-top: 0px; margin-top: 5px;margin-bottom: 0px;">1234</p>
                <p style="color:#666565 ; margin-top: 0px; margin-top: 5px;">Staff</p>
            </div>
        </div>
        <div class="outer_shell">
            <div class="info">
                <img src="{{ url_for('static', filename='icons/users-svgrepo-com.svg') }}" style="margin-top: 4px;">
                <p style="font-weight: bolder; font-size: 30px; margin-top: 0px; margin-top: 5px;margin-bottom: 0px;">1234</p>
                <p style="color:#666565 ; margin-top: 0px; margin-top: 5px;">Clients</p>
            </div>
        </div>
        <button class="explore">Explore More</button>

    </div>
        
</div>
    <div class="pics">
        <div style="display: flex; align-items: end; justify-content: end;">
            
            <img src="{{ url_for('static', filename='images/about-image2.jpg') }}" width="70%" height="70%">
        </div>
        <div style="display: flex; align-items: end; justify-content: start;">
            
            <img src="{{ url_for('static', filename='images/about_image1.jpg') }}" width="90%">
        </div>
        <div style="display: flex; align-items:start; justify-content: end;">
            <img src="{{ url_for('static', filename='images/about_image4.jpg') }}" width="50%">
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/about-image3.jpg') }}" width="70%">
        </div>
    </div>
</section>
<div class="rooms">
    <p style="color: #FEA116; font-weight: bolder; font-size: 20px;">Our Rooms</p>
    <h4>Explore Our <span style="color: #FEA116;">Rooms</span></h4>
</div>
    
<section class="second_section">
    <div class="our_rooms" style="padding-bottom: 30px;">
        <img src="{{ url_for('static', filename='images/wallpaperflare.com_wallpaper (3).jpg') }}" class="normal">
        <div class="price">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Junior Suite</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>
    <div class="property">
        <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
        <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
        <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
        <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
        <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
        <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
    </div>
    <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">Step into your personal sanctuary, where modern elegance meets ultimate comfort for a perfect stay.</p>
    <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 30px;">
        <button class="detail" >VIEW DETAIL</button>
        <div style="display: flex; justify-content: end;align-items: end;">
            <button class="Book">BOOK NOW</button>
        </div>
    </div>
    
</div>
    <div class="our_rooms" >
        <img src="{{ url_for('static', filename='images/wallpaperflare.com_wallpaper (4).jpg') }}" class="weird">
        <div class="price2">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Executive Suite</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>  
        <div class="property">
            <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
            <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
            <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
        </div>
        <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">A room crafted for relaxation, with every detail designed to exceed your expectations.</p>
        <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 50px;">
            <button class="detail" >VIEW DETAIL</button>
            <div style="display: flex; justify-content: end;align-items: end;">
                <button class="Book">BOOK NOW</button>
            </div>
        </div>
      
    </div>
        
</div> 
    <div class="our_rooms" style="padding-bottom: 30px;">
        <img src="{{ url_for('static', filename='images/wallpaperflare.com_wallpaper(5).jpg') }}" class="normal">
        <div class="price3">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Super Deluxe</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>  
        <div class="property">
            <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
            <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
            <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
        </div>
        <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">Your private retreat, complete with luxurious amenities and breathtaking views.</p>
        <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 50px;">
            <button class="detail" >VIEW DETAIL</button>
            <div style="display: flex; justify-content: end;align-items: end;">
                <button class="Book">BOOK NOW</button>
            </div>
        </div>
      
    </div>
</section>
<section class="video">
    <div class="first_part">
        <p style="font-weight: bolder; margin-top: 80px;">LUXURY LIVING</p>
        <h4>Discover A Brand <br>Luxurious Hotel</h4>
        <p style="font-weight: 500;">Where comfort meets sophistication for a truly memorable stay.
            Experience the royal treatment at Imperial Crown, where luxury meets elegance.
            Discover the crown jewel of luxury hospitality, designed for those who deserve the best.
        </p>
        <div class="videos">
            <button class="our_room">OUR ROOMS</button>
            <button class="book_room">BOOK A ROOM</button>
        </div>
    </div>
    <div class="video_thumbnail">
        <img src="{{ url_for('static', filename='images/side-view-woman-working-reception.jpg') }}" alt="a couple drinking wine" width="100%" height="100%">
        <div class="play_button">
            <div class="triangle"></div>
        </div>
    </div>
</section>
<div class="rooms">
    <p style="color: #FEA116; font-weight: bolder; font-size: 20px;">Our Services</p>
    <h4>Explore Our <span style="color: #FEA116;">SERVICES</span></h4>
</div>
<section class="services">
    <div class="services_info" >
        <img src="{{ url_for('static', filename='icons/hotel-svgrepo-com (1).svg') }}" style="margin-top: 53px;">
        <p style="font-weight: bolder; font-size: 20px; margin-top: 0px;">Rooms & Appartment</p>
        <p class="elegance">Elegance and comfort meet in our beautifully designed rooms, offering you a sanctuary of relaxation and luxury.</p>
    </div>
    <div class="services_info">
        <img src="{{ url_for('static', filename='icons/colored/restaurant-cutlery-svgrepo-com.svg') }}" style="margin-top: 53px;">
        <p style="font-weight: bolder; font-size: 20px; margin-top: 0px;">Food & Resturant</p>
        <p class="elegance">Savor gourmet dishes in a setting fit for royalty – dining at Imperial Crown is an experience like no other.</p>
    </div>
    <div class="services_info">
        <img src="{{ url_for('static', filename='icons/colored/flower-svgrepo-com.svg') }}" style="margin-top: 53px;">
        <p style="font-weight: bolder; font-size: 20px; margin-top: 0px;">Spa & Fittness</p>
        <p class="elegance">Escape into tranquility and indulge in relaxation at Imperial Crown Spa, where serenity reigns</p>
    </div>
    <div class="services_info">
        <img src="{{ url_for('static', filename='icons/colored/swimming-svgrepo-com.svg') }}" style="margin-top: 53px;">
        <p style="font-weight: bolder; font-size: 20px; margin-top: 0px;">Sports & Gaming</p>
        <p class="elegance">From thrilling games to exhilarating sports, there’s no shortage of excitement at Imperial Crown.</p>
    </div>
    <div class="services_info">
        <img src="{{ url_for('static', filename='icons/colored/wine-cheers-heart-svgrepo-com.svg') }}" style="margin-top: 53px;">
        <p style="font-weight: bolder; font-size: 20px; margin-top: 0px;">Event & Party</p>
        <p class="elegance">Celebrate in style – our event spaces are crafted to make your parties and events truly unforgettable</p>
    </div>
    <div class="services_info">
        <img src="{{ url_for('static', filename='icons/colored/gym-dumbbell-svgrepo-com.svg') }}" style="margin-top: 53px;" class="colored">
        <p style="font-weight: bolder; font-size: 20px; margin-top: 0px;">Gym & Yoga</p>
        <p class="elegance">Find your balance and elevate your fitness in our state-of-the-art gym and serene yoga spaces.</p>
    </div>
</section>
<section class="info_section">
    <div class="whole_part">
        <div class="name">
            <span style="font-size: 33px;font-weight: bolder;">Imperial Crown</span>
            <p>Discover the crown jewel of luxury hospitality, designed for those who deserve the best.  
            </p>
        </div>
        <div class="contact">
            <span style="color: #FEA116; font-weight: bolder; font-size: 23px;display: block;">Contact</span>
            <div style="padding: 0px;margin: 0px;">
                <img src="{{ url_for('static', filename='icons/mail-svgrepo-com.svg') }}" width="3%"><p style="display: inline-block;color: white;font-size: 16px;padding-left: 5px;">akinmoju4@gmail.com</p>
            </div>
            <div style="padding: 0px; margin: 0px;">
                <img src="{{ url_for('static', filename='icons/phone-call-phone-svgrepo-com.svg') }}" width="3%"><p style="display: inline-block;color: white;font-size: 16px;padding-left: 5px;">+2349069077225</p>
            </div>
            <div style="padding: 0px; margin: 0px;">
                <img src="{{ url_for('static', filename='icons/gps-svgrepo-com.svg') }}" width="3%"><p style="display: inline-block;color: white;font-size: 16px;padding-left: 5px;">Information Systems Dept</p>
            </div>
            
        </div>
      
    </div>
</section>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>