<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imperial Crown Rooms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/rooms.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/second_section_blw.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            
            <div class="row align-items-center justify-content-between">
                <div class="logo">
                    <h1 style="color: #FEA116; font-size: 43px;">Imperial crown</h1>
                </div>
                <button class="navbar-toggler_1" id="navbar-toggler_1">
                    &#9776; <!-- This is the hamburger icon -->
                </button>
                </label>
                   <nav id="navbar-menu_1" class="navbar-nav_1">
                        <ul>
                            <li class="navbar-items"><a href="{{ url_for('home') }}">Home</a></li>
                            <li class="navbar-items"><a href="#">About</a></li>
                            <li class="navbar-items"><a href="#">Services</a></li>
                            <li class="navbar-items"><a href="#"><span style="color:#FEA116;">Rooms</span></a></li>
                            <li class="navbar-items dropdown"><a href="#" class="dropbtn">Pages &#9662</a>
                                <div class="dropdown-content">
                                    <a href="{{ url_for('booking') }}">Booking</a>
                                    <a href="#">Our Team</a>
                                    <a href="#">Testimonial</a>
                                </div>
                                
                            </li>
                            <li class="navbar-items"><a href="#">Contact</a></li>
                        
                        </ul>
 
                    </nav> 
            </div>
        </div>
    </header>
<div class="room_available">
    <div class="room_avail_info">
        <p style="color: white; font-size: 75px; font-weight: bolder; margin: 0px;">Rooms</p>
        <nav class="neither">
            <ul>
                <li><a href="{{ url_for('home') }}" style="color: #FEA116;">HOME /</a></li>
                <li><a href="#" style="color: #FEA116;">PAGES /</a></li>
                <li><a href="{{ url_for('rooms') }}" style="color: white;">ROOMS</a></li>
            </ul>
        </nav>
    </div>
    <img src="{{ url_for('static', filename='images/front_pic.webp') }}" width="100%" height="600px">
    <form action="" method="post">
        <div class="checks">
            <input type="date" name="check_out" placeholder="Check Out" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateInput" class="check_out">
            <input type="date" name="check_in" placeholder="Check in" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateInput" class="check_in">
            <select name="adult" class="no_adult">
                <option name="adult" id="adult">Adult</option>
                <option name="adult1" id="adult1">Adult 1</option>
                <option name="adult2" id="adult2">Adult 2</option>
                <option name="adult3" id="adult3">Adult 3</option>
            </select>
            <select name="child" class="no_child">
                <option name="child" id="child">Child</option>
                <option name="child1" id="child1">Child 1</option>
                <option name="child2" id="child2">Child 2</option>
                <option name="child3" id="child3">Child 3</option>
            </select>
          <button type="submit" class="submit">SUBMIT</button>
        </div>
    </form>

</div>
<div class="rooms">
    <p style="color: #FEA116; font-weight: bolder; font-size: 20px;">Our Rooms</p>
    <h4>Explore Our <span style="color: #FEA116;">Rooms</span></h4>
</div>
<section class="second_section">
    <div class="our_rooms" style="padding-bottom: 30px;">
        <img src="{{ url_for('static', filename='images/wallpaperflare.com_wallpaper (3).jpg') }}" class="normal">
        <div class="price">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Junior Suite</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>
    <div class="property">
        <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
        <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
        <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
        <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
        <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
        <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
    </div>
    <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">Step into your personal sanctuary, where modern elegance meets ultimate comfort for a perfect stay.</p>
    <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 30px;">
        <button class="detail" >VIEW DETAIL</button>
        <div style="display: flex; justify-content: end;align-items: end;">
            <button class="Book">BOOK NOW</button>
        </div>
    </div>
    
</div>
    <div class="our_rooms" >
        <img src="{{ url_for('static', filename='images/wallpaperflare.com_wallpaper (4).jpg') }}" class="weird">
        <div class="price2">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Executive Suite</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>  
        <div class="property">
            <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
            <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
            <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
        </div>
        <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">A room crafted for relaxation, with every detail designed to exceed your expectations.</p>
        <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 50px;">
            <button class="detail" >VIEW DETAIL</button>
            <div style="display: flex; justify-content: end;align-items: end;">
                <button class="Book">BOOK NOW</button>
            </div>
        </div>
      
    </div>
        
</div> 
    <div class="our_rooms" style="padding-bottom: 30px;">
        <img src="{{ url_for('static', filename='images/wallpaperflare.com_wallpaper(5).jpg') }}" class="normal">
        <div class="price3">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Super Deluxe</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>  
        <div class="property">
            <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
            <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
            <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
        </div>
        <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">Your private retreat, complete with luxurious amenities and breathtaking views.</p>
        <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 50px;">
            <button class="detail" >VIEW DETAIL</button>
            <div style="display: flex; justify-content: end;align-items: end;">
                <button class="Book">BOOK NOW</button>
            </div>
        </div>
      
    </div>
    <div class="our_rooms" style="padding-bottom: 30px;">
        <img src="{{ url_for('static', filename='images/new_images/wallpaperflare.com_wallpaper (1).jpg') }}" class="normal">
        <div class="price3">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Super Deluxe</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>  
        <div class="property">
            <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
            <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
            <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
        </div>
        <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">Your private retreat, complete with luxurious amenities and breathtaking views.</p>
        <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 50px;">
            <button class="detail" >VIEW DETAIL</button>
            <div style="display: flex; justify-content: end;align-items: end;">
                <button class="Book">BOOK NOW</button>
            </div>
        </div>
      
    </div>
    <div class="our_rooms" style="padding-bottom: 30px;">
        <img src="{{ url_for('static', filename='images/new_images/wallpaperflare.com_wallpaper (2).jpg') }}" class="normal">
        <div class="price3">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Super Deluxe</p>
            <div style="display: flex; justify-content: end;">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%"  class="star">
                <img src="{{ url_for('static', filename='icons/actions-star-svgrepo-com.svg') }}" width="10%" class="star">
            </div>
        </div>  
        <div class="property">
            <img src="{{ url_for('static', filename='icons/bed-svgrepo-com.svg') }}" class="correct">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
            <img src="{{ url_for('static', filename='icons/bath-tube-svgrepo-com.svg') }}" class="weird" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
            <img src="{{ url_for('static', filename='icons/wifi-high-svgrepo-com.svg') }}" class="correct" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
        </div>
        <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">Your private retreat, complete with luxurious amenities and breathtaking views.</p>
        <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 50px;">
            <button class="detail" >VIEW DETAIL</button>
            <div style="display: flex; justify-content: end;align-items: end;">
                <button class="Book">BOOK NOW</button>
            </div>
        </div>
      
    </div>
    <div class="our_rooms" style="padding-bottom: 30px;">
        <img src="{{ url_for('static', filename='images/new_images/wallpaperflare.com_wallpaper.jpg') }}" class="normal">
        <div class="price3">
            <p style="margin: 0px;padding: 5px 5px ;">&#8358 150,000/Night</p>
        </div>
        <div style=" width: 87%; margin: auto; display: grid; grid-template-columns: 1fr 1fr;">
            <p class="level">Super Deluxe</p>
            <div style="display: flex; justify-content: end;">
                <img src="icons/actions-star-svgrepo-com.svg" width="10%" class="star">
                <img src="icons/actions-star-svgrepo-com.svg" width="10%" class="star">
                <img src="icons/actions-star-svgrepo-com.svg" width="10%" class="star">
                <img src="icons/actions-star-svgrepo-com.svg" width="10%"  class="star">
                <img src="icons/actions-star-svgrepo-com.svg" width="10%" class="star">
            </div>
        </div>  
        <div class="property">
            <img src="icons/bed-svgrepo-com.svg" class="correct">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin-bottom: -5px;padding-right: 10px;padding-left: 7px;">3 Bed</p>
            <img src="icons/bath-tube-svgrepo-com.svg" class="weird" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px;margin-bottom: -5px;  padding-right: 7px; padding-left: 7px;">2 Bath</p>
            <img src="icons/wifi-high-svgrepo-com.svg" class="correct" style="width: 4%;">
            <p style="display: inline-block; font-size: 15px; padding: 0px;margin: -5px; padding-left: 7px;border: none;">Wifi</p>
        </div>
        <p style="color:#666565 ;  width: auto; margin: auto; width: 87%; line-height: 1.4;margin-top: 20px;">Your private retreat, complete with luxurious amenities and breathtaking views.</p>
        <div style="display: grid;grid-template-columns: 1fr 1fr; width: 87%;margin: auto; margin-top: 50px;">
            <button class="detail" >VIEW DETAIL</button>
            <div style="display: flex; justify-content: end;align-items: end;">
                <button class="Book">BOOK NOW</button>
            </div>
        </div>
      
    </div>
</section>
<section class="info_section" style="margin-top: 90px;">
    <div class="whole_part">
        <div class="name">
            <span style="font-size: 33px;font-weight: bolder;">Imperial Crown</span>
            <p>Discover the crown jewel of luxury hospitality, designed for those who deserve the best.  
            </p>
        </div>
        <div class="contact">
            <span style="color: #FEA116; font-weight: bolder; font-size: 23px;display: block;">Contact</span>
            <div style="padding: 0px;margin: 0px;">
                <img src="{{ url_for('static', filename='icons/mail-svgrepo-com.svg') }}" width="3%"><p style="display: inline-block;color: white;font-size: 16px;padding-left: 5px;">akinmoju4@gmail.com</p>
            </div>
            <div style="padding: 0px; margin: 0px;">
                <img src="{{ url_for('static', filename='icons/phone-call-phone-svgrepo-com.svg') }}" width="3%"><p style="display: inline-block;color: white;font-size: 16px;padding-left: 5px;">+2349069077225</p>
            </div>
            <div style="padding: 0px; margin: 0px;">
                <img src="{{ url_for('static', filename='icons/gps-svgrepo-com.svg') }}" width="3%"><p style="display: inline-block;color: white;font-size: 16px;padding-left: 5px;">Information Systems Dept</p>
            </div>
            
        </div>
      
    </div>
</section>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>