@import url('https://fonts.cdnfonts.com/css/montserrat');

body{
    font-family:'Montserrat', sans-serif;

}
a{
    text-decoration: none;
    
}
.video_thumbnail{
    position:relative;
}
.play_button{
    cursor: pointer;
    left: 340px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height:90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 165, 0, 0.8);
}
.triangle {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    margin-left: 5px; /* Adjust to center the triangle */
  }
.book_room{
    border: none;
    width: 30%;
    height: 47px;
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
}
.our_room{
    background-color: #FEA116;
    color: white;
    border: none;
    width: 30%;
    height: 47px;
    border-radius: 3px;
    cursor: pointer;
    
}
.our_room:hover{
    opacity: 0.8;
}
.carousel_wrapper{
    position: relative;
    z-index: 0;
    overflow: visible;
    
}
.carousel-slide,
.carousel{
    height: auto;
}
ul {
    list-style: none;
}
.container{
    max-width: 1270px;
    margin: auto;
}
.logo{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.navbar-items{
    position: relative;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.rooms{
    position: relative;
}
.header{
    background-color: #0F172B;
    position: relative;
    z-index: 4;
}
.navbar-items{
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.dropdown .dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown .dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown .dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
display: block;
}

.header nav ul li{
    display: inline-block;
    margin-left: 10px;
}
.header nav ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    color: white;
    padding-left: 10px;
}
.prem {
    background-color: #FEA116;
    max-width: 200px;    
}
.header nav ul li a:hover,
.header nav ul li a.active{
    color: #FEA116;
    text-decoration-color: rgb(238, 96, 96);
}.parent_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
}
.pics{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.outer_shell{
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    border-color: #666565;
    margin-right: 10px;
}
.explore{
    margin-top: 40px;
    background-color: #FEA116;
    color: white;
    border: none;
    height: 60px;
    width: 82%;
    font-size: 19px;
    border-radius: 5px;
}
.info{
    border-style: solid;
    border-color: #666565;
    border-width: 1px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info img{
    width: 35%;
    margin-bottom: 0px;
}
.about{
    padding-top: 130px;
    width: 92%;
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.navbar-toggler_1 {
    display: none;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.submit,
.check_in,
.check_out,
.no_child,
.no_adult{
    border: 1px solid #ced4da;
    width: 16%;
    color: #666565;
    height:40px;
    outline: none;
    margin: auto;
    margin-left: 30px;
    padding-left: 10px;
}
.submit{
    background-color: #FEA116;
    color: white;
    border: none;
    cursor: pointer;

}
.checks{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15);
    z-index: 100;
    padding-top: 20px;
    background-color: white;
    width: 80%;
    margin: auto;
    height: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    position: absolute;
    bottom: -30px;
    left: 140px;
}
.imp_crown{
    font-size: 40px; margin: 0px;
     color: #0F172B;
}
@media (max-width: 768px) {
    .explore{
        width: 40%;
    }
    .parent_info{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    .info img{
        width: 10%;
    }
    .outer_shell{
        width: 90%;
        margin: auto;
        height: 100%;
    }
    .info{
        width: 100%;
        height: 100%;
    }
    .about{
        margin-top: 390px;
        grid-template-columns: 1fr;
    }
    
    .imp_crown{
        font-size: 30px;
    }
    .checks{
        display: flex;
        left: 27px;
        height: auto;
        bottom: -280px;
        padding-right: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .check_in,
    .check_out{
        width: 86%;
        height: 40px;
        margin-bottom: 20px;
    }
    .submit,
    .no_child,
    .no_adult{
        width: 90%;
        margin-bottom: 20px;
    }
    .navbar-nav_1 {
        display: none;
        width: 100%;
        background-color: #0F172B;
        position: absolute;
        top:90px;
        left: 0;
        flex-wrap: wrap;
    }
    .navbar-menu_1{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar-menu_1.active{
        display: flex;
    }
    .navbar-toggler_1 {
        display: block;
    }

    .navbar-items {
        text-align: left;
       
    }
    
    .logo{
        padding-left: 60px;
    }
    .navbar-nav_1.show {
        display: flex;
    }
    .navbar-nav_1.navbar-items:last-child{
        border-bottom: none;
    }
    .navbar-nav_1 .dropdown-content{
        position: relative;
    }
}